{% extends "base_evento.html" %}
{% load static %}

{% block 'importacoes' %}
    <link href="{% static 'eventos/css/gerenciar_eventos.css' %}" rel="stylesheet">
{% endblock %}

{% block 'conteudo' %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md">
                <form action="{% url 'gerenciar_eventos' %}" method="titulo">
                <label>Título:</label>
                <input type="text" placeholder="Filtrar por título" class="form-control" name="titulo">
            </div>
            <div class="col-md">
                <br>
                <input type="submit" class="btn-principal" value="filtrar">
                </form>
            </div>

        </div>
        {% if eventos %}
        <table>
            <tr align="center">
                <th>Logo</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Início</th>
                <th>Término</th>
                <th>Link de inscrição</th>
            </tr>
            {% for evento in eventos %}
            <tr class="{% cycle 'linha' 'linha2' %}" align="center">
                <td width="10%"><a href="#"><img width="100%" src="/media/{{evento.logo}}"></a></td>
                <td>{{ evento.nome }}</td>
                <td>{{ evento.descricao|truncatechars:50 }}</td>
                <td>{{ evento.data_inicio }}</td>
                <td>{{ evento.data_termino }}</td>
                <td>Link de inscrição</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <br>
            <br>
            <p>Nenhum evento encontrado.</p>
        {% endif %}
    </div>

{% endblock %}